<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="org.nuxeo.ide.builders.BundleBuilder"
         name="Nuxeo Bundle Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="false"
            hasNature="true"
            isConfigurable="false">
         <run
               class="org.nuxeo.ide.builders.BundleBuilder">
         </run>
      </builder>
   </extension>
   <extension
         id="org.nuxeo.ide.builders.BundleNature"
         name="Nuxeo Bundle Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.nuxeo.ide.builders.BundleNature">
         </run>
      </runtime>
      <builder
            id="org.nuxeo.ide.builders.BundleBuilder">
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="org.nuxeo.ide.projects.popup">
         <action
               label="Toggle Nuxeo Bundle Nature"
               class="org.nuxeo.ide.builders.ToggleNatureAction"
               menubarPath="additions"
               enablesFor="+"
               id="org.nuxeo.ide.builder.addRemoveNatureAction">
         </action>
         <action
               class="org.nuxeo.ide.manifests.ReformatProjectAction"
               id="org.nuxeo.ide.builder.reformatManifest"
               label="Reformat Manifest"
               menubarPath="nuxeo">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.nuxeo.ide.manifests.popup"
            nameFilter="MANIFEST.MF"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               class="org.nuxeo.ide.manifests.ReformatManifestAction"
               id="org.nuxeo.ide.builder.reformatManifest"
               label="Reformat Manifest"
               menubarPath="nuxeo">
         </action>
      </objectContribution>
      <objectContribution
            adaptable="false"
            id="org.nuxeo.ide.builder.ws.popup"
            objectClass="org.eclipse.ui.internal.WorkingSet">
         <action
               class="org.nuxeo.ide.manifests.ReformatWorkingSetAction"
               id="org.nuxeo.ide.builder.reformatManifest"
               label="Reformat Manifests">
         </action>
         <action
               class="org.nuxeo.ide.versions.BranchVersionLabeler"
               id="org.nuxeo.ide.builder.changeVersionLabel"
               label="Change Version Label">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/ILoveECM.jpg"
            id="org.nuxeo.ide.builder.iLoveECM"
            natureId="org.nuxeo.ide.builders.BundleNature">
      </image>
   </extension>
   

   

</plugin>
