<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="Studio IDE">
<locations>
<location path="${eclipse_home}" type="Directory"/>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.nuxeo.org.apache.httpcomponents.httpclient" version="4.0.1"/>
<unit id="org.nuxeo.org.apache.httpcomponents.httpcore" version="4.0.1"/>
<unit id="org.nuxeo.org.apache.httpcomponents.httpmime" version="4.0.1"/>
<repository location="http://marge.in.nuxeo.com/p2/third-parties/others"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.nuxeo.net.sf.ezmorph" version="1.0.4"/>
<unit id="org.nuxeo.net.sf.json-lib" version="2.2.1"/>
<unit id="org.nuxeo.commons-lang" version="2.3.0"/>
<repository location="http://osgi.nuxeo.org/repository/third-parties/"/>
</location>
<location includeAllPlatforms="false" includeMode="planner" type="InstallableUnit">
<unit id="org.nuxeo.log4j" version="1.2.16"/>
<unit id="org.nuxeo.org.slf4j.log4j12" version="1.6.0"/>
<unit id="org.nuxeo.org.slf4j.api" version="1.6.0"/>
<repository location="http://osgi.nuxeo.org/repository/third-parties/"/>
</location>
</locations>
</target>
