<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.nuxeo.ide.studio.provider" name="Nuxeo Studio Workbench Provider" schema="schema/provider.exsd"/>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Studio"
            id="org.nuxeo.ide.studio.views">
      </category>
      <view
            name="Studio Browser"
            icon="icons/sample.gif"
            category="org.nuxeo.ide.studio.views"
            class="org.nuxeo.ide.studio.views.StudioBrowserView"
            id="org.nuxeo.ide.studio.views.StudioBrowserView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ResourceNavigator"
               relationship="stack"
               id="org.nuxeo.ide.studio.views.StudioBrowserView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.nuxeo.ide.studio.editors.StudioEditor"
            default="false"
            icon="icons/sample.gif"
            id="org.nuxeo.ide.studio.editor"
            name="Studio Editor">
      </editor>
   </extension>
     <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer id="org.nuxeo.ide.studio.CLASSPATH_CONTAINER" class = "org.nuxeo.ide.studio.internal.jdt.ClasspathContainerInitializer"/>
   </extension>
   <extension
         id="id1"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.nuxeo.ide.studio.StudioProjectNature">
         </run>
      </runtime>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            class="org.nuxeo.ide.studio.internal.jdt.ClasspathContainerPage"
            id="org.nuxeo.ide.studio.classpathContainerPage1"
            name="NX Studio">
      </classpathContainerPage>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="org.nuxeo.ide.studio.internal.preferences.PreferencesInitializer">
      </initializer>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="Nuxeo"
            class="org.nuxeo.ide.studio.internal.preferences.PreferencesPage"
            id="org.nuxeo.ide.studio.preferences.NxStudioPreferencePage"
            name="Nuxeo Studio Preferences">
      </page>
   </extension>

</plugin>
