<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.6"?>

<target name="Studio IDE">
<locations>
<location path="${eclipse_home}" type="Directory"/>
<location path="/var/www/p2/eclipse/orbit/I20110218001715" type="Directory"/>
</locations>
<targetJRE path="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/java-6-sun-1.6.0.22"/>
</target>
