<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="org.skinsoft.nuxeo.ide.uml.ui.generate.contrib"
            objectClass="org.eclipse.jdt.core.IJavaProject">
         <menu
               label="Nuxeo IDE"
               path="additions"
               id="org.skinsoft.nuxeo.ide.uml.ui.nuxeo.ide.menu">
            <separator
                  name="uml.group">
            </separator>
         </menu>
         <action
               label="Generate UML Contribs"
               class="org.skinsoft.nuxeo.ide.uml.ui.popup.actions.GenerateUmlContribs"
               menubarPath="org.skinsoft.nuxeo.ide.uml.ui.nuxeo.ide.menu/uml.group"
               enablesFor="*"
               id="org.skinsoft.nuxeo.ide.uml.ui.newAction">
         </action>
      </objectContribution>
   </extension>

</plugin>
