<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
   </extension>
   
      <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="Release Engineering"
            icon="icons/releng_gears.gif"
            class="org.nuxeo.ide.sandbox.perspectives.ReleaseEngineeringPerspective"
            id="org.nuxeo.ide.sandbox.perspectives.ReleaseEngineeringPerspective">
      </perspective>
   </extension>

</plugin>
