<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <extension 
       point="org.eclipse.ui.preferencePages"> 
      <page 
         id="org.nuxeo.ide.prefs.connect" 
         name="Nuxeo Connect" 
         class="org.nuxeo.ide.connect.ui.ConnectPreferencePage" 
         category="org.nuxeo.ide.prefs"> 
      </page> 
   </extension>

      
      <!-- #### Studio Project Decorator #### -->
      <extension
            point="org.eclipse.ui.decorators">
         <decorator
               class="org.nuxeo.ide.connect.studio.StudioProjectDecorator"
               id="org.nuxeo.ide.connect.studioProjectDecorator"
               label="Studio Project Decorator"
               lightweight="false"
               state="true">
            <enablement>
                <objectState
                  name="contentTypeId"
                  value="org.nuxeo.ide.connect.studioProjectContentType"/>
            </enablement>               
         </decorator>
      </extension>
      
      <!-- #### Studio Project Content Type #### -->
      <extension
            point="org.eclipse.core.contenttype.contentTypes">
         <content-type
               file-names="studio.project"
               id="org.nuxeo.ide.connect.studioProjectContentType"
               name="org.nxueo.ide.connect.StudioProject"
               priority="normal">
            <property
                  default="true"
                  name="nuxeo.studio.project">
            </property>
         </content-type>
      </extension>
     
     <!-- #### Studio Project Editor #### --> 
     <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.nuxeo.ide.connect.studio.StudioProjectEditor"
            filenames="studio.project"
            icon="icons/studio_project.gif"
            id="org.nuxeo.ide.connect.studioProjectEditor"
            name="Studio Project Editor">
         <contentTypeBinding
               contentTypeId="org.nuxeo.ide.connect.studioProjectContentType">
         </contentTypeBinding>
      </editor>
     </extension>
     <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.nuxeo.ide.connect.studio.StudioEditor"
            icon="icons/studio_project.gif"
            id="org.nuxeo.ide.connect.studio.StudioEditor"
            name="Studio Project Editor">
      </editor>
   </extension>
      
   <extension point="org.eclipse.ui.propertyPages">
     <page
           category="org.nuxeo.ide.project.props"
           class="org.nuxeo.ide.connect.ui.StudioPropertyPage"
           id="org.nuxeo.ide.connect.studio.props"
           name="Nuxeo Studio">
         <enabledWhen>                                                                                                                                      
            <adapt                                                                                                                                          
                  type="org.eclipse.core.resources.IProject">                                                                                               
               <test                                                                                                                                        
                     property="org.eclipse.core.resources.projectNature"                                                                                    
                     value="org.nuxeo.ide.NuxeoNature">                                                                                               
               </test>                                                                                                                                      
            </adapt>                                                                                                                                        
         </enabledWhen>
     </page>
   </extension>      
      
   <!-- #### Schema completor ##### -->

 <extension point="org.eclipse.jdt.ui.javaCompletionProposalComputer"
   id="schema_proposals"
   name="Nuxeo Schema Proposals">
   <proposalCategory icon="icons/studio_project.gif"/>
 </extension>
 <extension point="org.eclipse.jdt.ui.javaCompletionProposalComputer"
   id="SchemaFieldCompletionProposalComputer"
   name="Schema Field Completion Proposal Computer">
   <javaCompletionProposalComputer
      class="org.nuxeo.ide.connect.completion.SchemaFieldProposalComputer"
      categoryId="org.nuxeo.ide.connect.schema_proposals">
      <partition type="__dftl_partition_content_type"/>
      <partition
            type="__java_string">
      </partition>
   </javaCompletionProposalComputer>
 </extension>
 <extension
       point="org.eclipse.ui.views">
    <view
          allowMultiple="false"
          category="org.nuxeo.ide.views"
          class="org.nuxeo.ide.connect.studio.StudioView"
          icon="icons/studio_project.gif"
          id="org.nuxeo.ide.connect.studio.StudioView"
          name="Studio Projects"
          restorable="true">
    </view>
 </extension>
 
 <!-- ### Navigator content extensions ### -->
    <extension
            point="org.eclipse.ui.navigator.viewer">
        <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
            <includes>
                <contentExtension pattern="org.nuxeo.ide.connect.studioNavigatorContent" />
            </includes>
        </viewerContentBinding>
    </extension>
 <extension
       point="org.eclipse.ui.navigator.navigatorContent">
    <navigatorContent
          activeByDefault="true"
          contentProvider="org.nuxeo.ide.connect.studio.content.StudioNavigatorContentProvider"
          id="org.nuxeo.ide.connect.studioNavigatorContent"
          labelProvider="org.nuxeo.ide.connect.studio.content.StudioNavigatorLabelProvider"
          name="Nuxeo Studio Content"
          priority="normal">
       <triggerPoints>
       <or>       
          <adapt
                type="org.eclipse.core.resources.IProject">
                <test
                      property="org.eclipse.core.resources.projectNature"
                      value="org.nuxeo.ide.NuxeoNature"/>
          </adapt>
       </or>
       </triggerPoints>
       <override
           policy="InvokeAlwaysRegardlessOfSuppressedExt"
           suppressedExtensionId="org.eclipse.ui.navigator.resourceContent"/>       
       <possibleChildren>
          <instanceof
                value="org.nuxeo.ide.connect.studio.StudioProject">
          </instanceof>
       </possibleChildren>
       <actionProvider
                 class="org.nuxeo.ide.connect.studio.content.OpenActionProvider"
                 id="org.nuxeo.ide.connect.studio.content.OpenActionProvider"> 
       </actionProvider> 
    </navigatorContent>
 </extension>
 

</plugin>
