<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <extension 
       point="org.eclipse.ui.preferencePages"> 
      <page 
         id="org.nuxeo.ide.prefs.connect" 
         name="Nuxeo Connect" 
         class="org.nuxeo.ide.connect.ui.ConnectPreferencePage" 
         category="org.nuxeo.ide.prefs"> 
      </page> 
   </extension>

   <extension                                                                                                                                               
         point="org.eclipse.ui.popupMenus"> 
          <objectContribution                                                                                                                                   
            objectClass="org.eclipse.core.resources.IProject"                                                                                               
            adaptable="true"                                                                                                                                
            id="org.nuxeo.ide.tools.pluginProjectToolSet">                                                                                                   
         <menu                                                                                                                                              
               label="Nuxeo"                                                                                                            
               id="org.nuxeo.ide.tools">                                                                                                       
            <separator                                                                                                                                      
               name="connect">                                                                                                                               
            </separator>                                                                                                                                    
         </menu>                                                                                                                                            
         <visibility>                                                                                                                                       
                <and>                                                                                                                                        
            <objectState                                                                                                                                    
                    name="projectNature"                                                                                                                    
                    value="org.nuxeo.ide.NuxeoNature"/>    
                <objectState                                                                                                                                
                        name="open"                                                                                                                         
                        value="true"/>                                                                                                                     
            </and>                                                                                                                                           
         </visibility>

        <action
            label="Export Operations"                                                                                                                       
            class="org.nuxeo.ide.connect.ui.ExportOperations"                                                                         
            menubarPath="org.nuxeo.ide.tools/connect"
            enablesFor="1"
            id="org.nuxeo.ide.connect.exportOperations">
        </action>                                                                                                                                           

      </objectContribution> 
      </extension>
      
      <!-- #### Studio Project Decorator #### -->
      <extension
            point="org.eclipse.ui.decorators">
         <decorator
               class="org.nuxeo.ide.connect.studio.StudioProjectDecorator"
               id="org.nuxeo.ide.connect.studioProjectDecorator"
               label="Studio Project Decorator"
               lightweight="false"
               state="true">
            <enablement>
                <objectClass name="org.eclipse.core.resources.IFile"/> 
            </enablement>               
         </decorator>
      </extension>
      
      <!-- #### Studio Project Content Type #### -->
      <extension
            point="org.eclipse.core.contenttype.contentTypes">
         <content-type
               file-names="studio.project"
               id="org.nuxeo.ide.connect.studioProjectContentType"
               name="org.nxueo.ide.connect.StudioProject"
               priority="normal">
            <property
                  default="true"
                  name="nuxeo.studio.project">
            </property>
         </content-type>
      </extension>
     
     <!-- #### Studio Project Editor #### --> 
     <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.nuxeo.ide.connect.studio.StudioProjectEditor"
            filenames="studio.project"
            icon="icons/studio_project.gif"
            id="org.nuxeo.ide.connect.studioProjectEditor"
            name="Studio Project Editor">
         <contentTypeBinding
               contentTypeId="org.nuxeo.ide.connect.studioProjectContentType">
         </contentTypeBinding>
      </editor>
   </extension>
      

</plugin>
