<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <extension 
       point="org.eclipse.ui.preferencePages"> 
      <page 
         id="org.nuxeo.ide.prefs.connect" 
         name="Nuxeo Connect" 
         class="org.nuxeo.ide.connect.ui.ConnectPreferencePage" 
         category="org.nuxeo.ide.prefs"> 
      </page> 
   </extension>

      
      <!-- #### Studio Project Decorator #### -->
      <extension
            point="org.eclipse.ui.decorators">
         <decorator
               class="org.nuxeo.ide.connect.studio.StudioProjectDecorator"
               id="org.nuxeo.ide.connect.studioProjectDecorator"
               label="Studio Project Decorator"
               lightweight="false"
               state="true">
            <enablement>
                <objectState
                  name="contentTypeId"
                  value="org.nuxeo.ide.connect.studioProjectContentType"/>
            </enablement>               
         </decorator>
      </extension>
      
      <!-- #### Studio Project Content Type #### -->
      <extension
            point="org.eclipse.core.contenttype.contentTypes">
         <content-type
               file-names="studio.project"
               id="org.nuxeo.ide.connect.studioProjectContentType"
               name="org.nxueo.ide.connect.StudioProject"
               priority="normal">
            <property
                  default="true"
                  name="nuxeo.studio.project">
            </property>
         </content-type>
      </extension>
     
     <!-- #### Studio Project Editor #### --> 
     <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.nuxeo.ide.connect.studio.StudioProjectEditor"
            filenames="studio.project"
            icon="icons/studio_project.gif"
            id="org.nuxeo.ide.connect.studioProjectEditor"
            name="Studio Project Editor">
         <contentTypeBinding
               contentTypeId="org.nuxeo.ide.connect.studioProjectContentType">
         </contentTypeBinding>
      </editor>
   </extension>
      
   <extension point="org.eclipse.ui.propertyPages">
     <page
           category="org.nuxeo.ide.project.props"
           class="org.nuxeo.ide.connect.ui.StudioPropertyPage"
           id="org.nuxeo.ide.connect.studio.props"
           name="Nuxeo Studio">
         <enabledWhen>                                                                                                                                      
            <adapt                                                                                                                                          
                  type="org.eclipse.core.resources.IProject">                                                                                               
               <test                                                                                                                                        
                     property="org.eclipse.core.resources.projectNature"                                                                                    
                     value="org.nuxeo.ide.NuxeoNature">                                                                                               
               </test>                                                                                                                                      
            </adapt>                                                                                                                                        
         </enabledWhen>
     </page>
   </extension>      
      
   <!-- #### Schema completor ##### -->

 <extension point="org.eclipse.jdt.ui.javaCompletionProposalComputer"
   id="schema_proposals"
   name="Nuxeo Schema Proposals">
   <proposalCategory icon="icons/studio_project.gif"/>
 </extension>
 <extension point="org.eclipse.jdt.ui.javaCompletionProposalComputer"
   id="SchemaFieldCompletionProposalComputer"
   name="Schema Field Completion Proposal Computer">
   <javaCompletionProposalComputer
      class="org.nuxeo.ide.connect.completion.SchemaFieldProposalComputer"
      categoryId="org.nuxeo.ide.connect.schema_proposals">
      <partition type="__java_javadoc"/>
   </javaCompletionProposalComputer>
 </extension>
 

</plugin>
