<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.5"?>

<target name="Nuxeo Thirds Target">
<locations>
<location path="${project_loc:org.nuxeo.ide.releng}/../eclipse" type="Directory"/>
<location path="${project_loc:org.nuxeo.ide.releng}/../target-platform/thirds" type="Directory"/>
<location path="${project_loc:org.nuxeo.ide.releng}/../target-platform/swtbot" type="Directory"/>
</locations>
</target>
