<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Nuxeo"
            id="org.nuxeo.ide.views">
      </category>
      <view
            allowMultiple="true"
            category="org.nuxeo.ide.views"
            class="org.nuxeo.ide.shell.views.ShellView"
            fastViewWidthRatio="0.95"
            icon="icons/terminal.png"
            id="org.nuxeo.ide.shell.views.ShellView"
            name="Nuxeo Shell"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.nuxeo.ide.sdk.ui.NuxeoPerspective">
         <view
               id="org.nuxeo.ide.shell.views.ShellView"
               minimized="false"
               ratio="0.95"
               relationship="fast"
               relative="org.nuxeo.ide.sdk.server.ui.ServerView"
               visible="true">
         </view>
         <viewShortcut
               id="org.nuxeo.ide.shell.views.ShellView">
         </viewShortcut>
      </perspectiveExtension>
   </extension>

</plugin>
