<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         id="org.nuxeo.ide.webengine.WebEngineNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.nuxeo.ide.webengine.WebEngineNature">
         </run>		 
      </runtime>
      <!--requires-nature id="org.eclipse.jdt.core.javanature"/-->
   </extension>

   <extension
      id="org.nuxeo.ide.webengine.AnnotationBuilder" 
      name="WebEngine Annotation Builder" 
      	point="org.eclipse.core.resources.builders">
      <builder>
         <run 
            class="org.nuxeo.ide.webengine.AnnotationBuilder">
         </run>
      </builder>
   </extension>

   <extension                                                                                                                                               
         point="org.eclipse.ui.newWizards">                                                                                                                 
      <category                                                                                                                                             
            name="Nuxeo Development"                                                                                                                       
            id="org.nuxeo.ide">                                                                                                                       
      </category>                                                                                                                                           
      <wizard                                                                                                                                               
            name="WebEngine Project"                                                                                                                  
            icon="icons/newprj_wiz.gif"                                                                                                       
            category="org.nuxeo.ide"                                                                                                                  
            class="org.nuxeo.ide.webengine.ProjectWizard"                                                                       
            project="true"                                                                                                                                  
            finalPerspective="org.eclipse.jdt.ui.JavaPerspective"                                                              
            id="org.eclipse.pde.ui.NewProjectWizard">                                                                                                       
         <description>                                                                                                                                      
            Create a WebEngine Project                                                                                                         
         </description>                                                                                                                                     
      </wizard>    
    </extension>
    
    
    
       <extension                                                                                                                                               
         point="org.eclipse.ui.popupMenus"> 
    <objectContribution                                                                                                                                   
            objectClass="org.eclipse.core.resources.IProject"                                                                                               
            adaptable="true"                                                                                                                                
            id="org.nuxeo.ide.pluginProjectToolSet">                                                                                                   
         <menu                                                                                                                                              
               label="Nuxeo Tools"                                                                                                            
               id="org.nuxeo.ide.tools">                                                                                                       
            <separator                                                                                                                                      
               name="group0">                                                                                                                               
            </separator>                                                                                                                                    
         </menu>                                                                                                                                            
         <visibility>                                                                                                                                       
                <not>                                                                                                                                       
                <or>                                                                                                                                        
            <objectState                                                                                                                                    
                    name="projectNature"                                                                                                                    
                    value="org.nuxeo.ide.webengine.WebEngineNature"/>                                                                                                  
                <objectState                                                                                                                                
                        name="open"                                                                                                                         
                        value="false"/>                                                                                                                     
            </or>                                                                                                                                           
            </not>                                                                                                                                          
         </visibility>                                                                                                                                      
                                                                                                                                                            
         <action                                                                                                                                            
            label="Add WebEngine Nature"                                                                                                                       
            class="org.nuxeo.ide.webengine.AddWebEngineNature"                                                                         
            menubarPath="org.nuxeo.ide.tools/group0"                                                                                           
            enablesFor="+"                                                                                                                                  
            id="org.nuxeo.ide.tools.convertToWebEngine">                                                                                                 
        </action>                                                                                                                                           
      </objectContribution> 
          <objectContribution                                                                                                                                   
            objectClass="org.eclipse.core.resources.IProject"                                                                                               
            adaptable="true"                                                                                                                                
            id="org.nuxeo.ide.pluginProjectToolSet">                                                                                                   
         <menu                                                                                                                                              
               label="Nuxeo Tools"                                                                                                            
               id="org.nuxeo.ide.tools">                                                                                                       
            <separator                                                                                                                                      
               name="group0">                                                                                                                               
            </separator>                                                                                                                                    
         </menu>                                                                                                                                            
         <visibility>                                                                                                                                       
                <and>                                                                                                                                        
            <objectState                                                                                                                                    
                    name="projectNature"                                                                                                                    
                    value="org.nuxeo.ide.webengine.WebEngineNature"/>    
                <objectState                                                                                                                                
                        name="open"                                                                                                                         
                        value="true"/>                                                                                                                     
            </and>                                                                                                                                           
         </visibility>                                                                                                                                      
                                                                                                                                                            
         <action                                                                                                                                            
            label="Remove WebEngine Nature"                                                                                                                       
            class="org.nuxeo.ide.webengine.RemoveWebEngineNature"                                                                         
            menubarPath="org.nuxeo.ide.tools/group0"                                                                                           
            enablesFor="+"                                                                                                                                  
            id="org.nuxeo.ide.tools.removeWebEngineNature">                                                                                                 
        </action>                                                                                                                                           
      </objectContribution> 
      </extension>
      
    <extension                                                                                                                                             
         point="org.eclipse.ui.views">        
         	<category                                                                                                                                             
            name="Nuxeo Views"                                                                                                                     
            id="org.nuxeo.ide">                                                                                                                        
      </category> 
    <view                                                                                                                                                 
            name="WebEngine Server"                                                                                                                    
            icon="icons/nx.gif"                                                                                                   
            category="org.nuxeo.ide"                                                                                                                       
            class="org.nuxeo.ide.webengine.server.ServerView"                                                                                      
            id="org.nuxeo.ide.webengine.server.ServerView">                                                                                                       
      </view>    
      </extension>
    <extension
          point="org.eclipse.debug.core.launchConfigurationTypes">
       <launchConfigurationType
             delegate="org.nuxeo.ide.webengine.WebengineLaunchConfigurationDelegate"
             id="org.nuxeo.ide.webengine.launchConfigurationType"
             modes="run,debug"
             name="Webengine Application"
             sourcePathComputerId="org.eclipse.jdt.launching.sourceLookup.javaSourcePathComputer">
       </launchConfigurationType>
    </extension>
    <extension
          point="org.eclipse.debug.ui.launchConfigurationTypeImages">
       <launchConfigurationTypeImage
             configTypeID="org.nuxeo.ide.webengine.launchConfigurationType"
             icon="icons/nx.gif"
             id="org.nuxeo.ide.webengine.launchConfigurationTypeImage1">
       </launchConfigurationTypeImage>
    </extension>
    <extension
          point="org.eclipse.debug.ui.launchConfigurationTabGroups">
       <launchConfigurationTabGroup
             class="org.nuxeo.ide.webengine.LaunchConfigurationTabGroup"
             id="org.nuxeo.ide.webengine.launchConfigurationTabGroup"
             type="org.nuxeo.ide.webengine.launchConfigurationType">
       </launchConfigurationTabGroup>
    </extension>



</plugin>
