<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.nuxeo.ide.sdk.connect_provider" name="connect-provider" schema="schema/org.nuxeo.ide.connect.provider.exsd"/>

    <extension
       point="org.eclipse.ui.preferencePages">
      <page
         id="org.nuxeo.ide.prefs.sdk"
         name="Nuxeo SDK"
         class="org.nuxeo.ide.sdk.server.ui.SDKPreferencePage"
         category="org.nuxeo.ide.prefs">
      </page>
      <page
         id="org.nuxeo.ide.prefs.server"
         name="Run/Debug"
         class="org.nuxeo.ide.sdk.server.ui.ServerPreferencePage"
         category="org.nuxeo.ide.prefs">
      </page>
      <page
         id="org.nuxeo.ide.prefs.userlibs"
         name="User Libraries"
         class="org.nuxeo.ide.sdk.userlibs.UserLibPreferencePage"
         category="org.nuxeo.ide.prefs">
      </page>
   </extension>

   <!--extension
      id="org.nuxeo.ide.sdk.builders.ExtensionsBuilder"
      name="Nuxeo Extensions Builder"
        point="org.eclipse.core.resources.builders">
      <builder>
         <run
            class="org.nuxeo.ide.sdk.features.ExtensionsBuilder">
         </run>
      </builder>
   </extension-->


   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="org.nuxeo.ide.sdk.ui.SDKClassPathContainerInitializer"
            id="org.nuxeo.ide.SDK_CONTAINER">
      </classpathContainerInitializer>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            class="org.nuxeo.ide.sdk.ui.SDKClassPathContainerPage"
            id="org.nuxeo.ide.SDK_CONTAINER"
            name="Nuxeo SDK">
      </classpathContainerPage>
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="org.nuxeo.ide.sdk.ui.SDKClassPathContainerInitializer"
            id="org.nuxeo.ide.SDK_TEST_CONTAINER">
      </classpathContainerInitializer>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            class="org.nuxeo.ide.sdk.ui.SDKTestClassPathContainerPage"
            id="org.nuxeo.ide.SDK_TEST_CONTAINER"
            name="Nuxeo SDK (Tests)">
      </classpathContainerPage>
   </extension>

   <extension
         id="org.nuxeo.ide.NuxeoNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.nuxeo.ide.sdk.ui.NuxeoNature">
         </run>
      </runtime>
      <requires-nature id="org.eclipse.jdt.core.javanature" />
   </extension>

   <extension
         point="org.eclipse.ui.popupMenus">
    <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            id="org.nuxeo.ide.pluginProjectToolSet">
         <menu
               label="Nuxeo"
               id="org.nuxeo.ide.tools">
            <separator
               name="group0">
            </separator>
         </menu>
         <visibility>

                <not>
                <or>
            <objectState
                    name="projectNature"
                    value="org.nuxeo.ide.NuxeoNature"/>
                <objectState
                        name="open"
                        value="false"/>
            </or>
            </not>
         </visibility>

         <action
            label="Convert to Nuxeo Seam Project"
            class="org.nuxeo.ide.sdk.ui.actions.AddNuxeoSeamNature"
            menubarPath="org.nuxeo.ide.tools/group0"
            enablesFor="+"
            id="org.nuxeo.ide.tools.addNuxeoSeamNature">
         </action>        
         <action
            label="Convert to Nuxeo Project"
            class="org.nuxeo.ide.sdk.ui.actions.AddNuxeoNature"
            menubarPath="org.nuxeo.ide.tools/group0"
            enablesFor="+"
            id="org.nuxeo.ide.tools.addNuxeoNature">
        </action>
      </objectContribution>
          <objectContribution
            objectClass="org.eclipse.core.resources.IProject"
            adaptable="true"
            id="org.nuxeo.ide.tools.pluginProjectToolSet">
         <menu
               label="Nuxeo"
               id="org.nuxeo.ide.tools">
            <separator
               name="group0">
            </separator>
         </menu>
         <visibility>
                <and>
            <objectState
                    name="projectNature"
                    value="org.nuxeo.ide.NuxeoNature"/>
                <objectState
                        name="open"
                        value="true"/>
            </and>
         </visibility>

         <action
            label="Remove Nuxeo Nature"
            class="org.nuxeo.ide.sdk.ui.actions.RemoveNuxeoNature"
            menubarPath="org.nuxeo.ide.tools/group0"
            enablesFor="+"
            id="org.nuxeo.ide.tools.removeNuxeoNature">
        </action>

        <action
            label="Export JAR"
            class="org.nuxeo.ide.sdk.server.ui.ExportProjectJar"
            menubarPath="org.nuxeo.ide.tools/group1"
            enablesFor="+"
            id="org.nuxeo.ide.tools.exportJar">
        </action>

        <action
            label="Synchronize POM"
            class="org.nuxeo.ide.sdk.ui.actions.SyncPom"
            menubarPath="org.nuxeo.ide.tools/group1"
            enablesFor="1"
            id="org.nuxeo.ide.tools.syncPom">
        </action>

      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.nuxeo.ide.tools.pluginProjectToolSet"
            nameFilter="pom.xml"
            objectClass="org.eclipse.core.resources.IResource">
         <menu
               label="Nuxeo"
               id="org.nuxeo.ide.tools">
            <separator
               name="group0">
            </separator>
         </menu>
         <visibility>
            <objectState
                    name="projectNature"
                    value="org.nuxeo.ide.NuxeoNature"/>
         </visibility>
        <action
            label="Synchronize POM"
            class="org.nuxeo.ide.sdk.ui.actions.SyncPom"
            menubarPath="org.nuxeo.ide.tools/group1"
            enablesFor="1"
            id="org.nuxeo.ide.tools.syncPom">
        </action>

      </objectContribution>
      </extension>

    <extension
       point="org.eclipse.ui.preferencePages">
      <page
         id="org.nuxeo.ide.prefs"
         name="Nuxeo"
         class="org.nuxeo.ide.sdk.ui.NuxeoPreferencePage">
      </page>
   </extension>

   <extension point="org.eclipse.ui.propertyPages">
     <page
       class="org.nuxeo.ide.sdk.ui.NuxeoPropertyPage"
       id="org.nuxeo.ide.project.props"
       name="Nuxeo">
         <enabledWhen>
            <adapt
                  type="org.eclipse.core.resources.IProject">
               <test
                     property="org.eclipse.core.resources.projectNature"
                     value="org.nuxeo.ide.NuxeoNature">
               </test>
            </adapt>
         </enabledWhen>
     </page>
     <page
            name="Download Sources"
            class="org.nuxeo.ide.sdk.ui.SDKClassPathContainerEntryPage"
            id="org.nuxeo.ide.sdk.ui.SDKClassPathContainerEntryPage">
         <enabledWhen>
            <and>
             <test
                     property="org.eclipse.core.resources.projectNature"
                     value="org.nuxeo.ide.NuxeoNature" />            
              <instanceof value="org.eclipse.jdt.core.IPackageFragmentRoot"/>
              <not>
                <test property="org.eclipse.jdt.core.inSourceFolder"/>
              </not>
            </and>
         </enabledWhen>
      </page>     
   </extension>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Nuxeo"
            id="org.nuxeo.ide.views">
      </category>
      <view
            allowMultiple="false"
            category="org.nuxeo.ide.views"
            class="org.nuxeo.ide.sdk.server.ui.ServerView"
            icon="icons/server.gif"
            id="org.nuxeo.ide.sdk.server.ui.ServerView"
            name="Nuxeo Server">
      </view>
      <view
            allowMultiple="false"
            category="org.nuxeo.ide.views"
            class="org.nuxeo.ide.sdk.server.ui.ComponentView"
            icon="icons/nx.gif"
            id="org.nuxeo.ide.sdk.server.ui.ComponentView"
            name="Nuxeo Components">
      </view>
   </extension>

<extension
    point = "org.eclipse.ui.viewActions">
      <viewContribution
         id="org.nuxeo.ide.sdk.ui.server.toolbar"
         targetID="org.nuxeo.ide.sdk.server.ui.ServerView">
       <action id="org.nuxeo.ide.sdk.ui.server.openBrowser"
              label="Browse"
          menubarPath="additions"
              toolbarPath="additions"
              icon="icons/web.gif"
              tooltip="Open Nuxeo in Web Browser"
              class="org.nuxeo.ide.sdk.server.ui.OpenBrowser">
       </action>
       <action id="org.nuxeo.ide.sdk.ui.server.clearAction"
              label="Clear"
          menubarPath="console"
              toolbarPath="console"
              icon="icons/clear.gif"
              tooltip="Clear the server console"
              class="org.nuxeo.ide.sdk.server.ui.ClearConsole">
       </action>
       <action
             class="org.nuxeo.ide.sdk.server.ui.ScrollLock"
             icon="icons/lock_co.gif"
             id="org.nuxeo.ide.sdk.ui.server.clearAction"
             label="Scroll Lock"
             menubarPath="console"
             state="false"
             style="toggle"
             toolbarPath="console"
             tooltip="Scroll Lock">
       </action>
       <action id="org.nuxeo.ide.sdk.ui.server.deployAction"
              label="Projects Deployment"
          menubarPath="ctrl"
              toolbarPath="settings"
              icon="icons/deploy.gif"
              tooltip="Select projects to deploy on server"
              class="org.nuxeo.ide.sdk.server.ui.AutoDeployConfiguration">
       </action>
       <action id="org.nuxeo.ide.sdk.ui.server.deployAction"
              label="Reload Projects"
          menubarPath="ctrl"
              toolbarPath="ctrl"
              icon="icons/refresh.gif"
              tooltip="Reload projects on server"
              class="org.nuxeo.ide.sdk.server.ui.ReloadProjects">
       </action>
       <action id="org.nuxeo.ide.sdk.ui.server.stopAction"
              label="Stop"
          menubarPath="ctrl"
              toolbarPath="ctrl"
              icon="icons/stop.gif"
              tooltip="Stop the server"
              class="org.nuxeo.ide.sdk.server.ui.StopServer">
       </action>
       <action id="org.nuxeo.ide.sdk.ui.server.debugAction"
              label="Start"
          menubarPath="ctrl"
              toolbarPath="ctrl"
              icon="icons/debug.gif"
              tooltip="Start the server in debug mode"
              class="org.nuxeo.ide.sdk.server.ui.DebugServer">
       </action>
       <action id="org.nuxeo.ide.sdk.ui.server.startAction"
              label="Start"
          menubarPath="ctrl"
              toolbarPath="ctrl"
              icon="icons/start.gif"
              tooltip="Start the server"
              class="org.nuxeo.ide.sdk.server.ui.StartServer">
       </action>
      </viewContribution>
 </extension>
<extension
      point="org.eclipse.ui.actionSets">
   <actionSet
         id="org.nuxeo.ide.sdk.actionSet"
         label="New Nuxeo Artifact"
         visible="true">
      <menu
            id="nuxeoMenu"
            label="Nuxeo">
         <separator
               name="nxnew">
         </separator>
      </menu>
      <action
            class="org.nuxeo.ide.sdk.ui.actions.NewNuxeoArtifact"
            icon="icons/nx.gif"
            id="org.nuxeo.ide.sdk.ui.actions.NewNuxeoArtifact"
            label="Nuxeo Artifact"
            menubarPath="nuxeoMenu/nxnew"
            toolbarPath="nxnew"
            tooltip="New Nuxeo Artifact Wizard">
      </action>
   </actionSet>
</extension>
<extension
      point="org.eclipse.ltk.core.refactoring.deleteParticipants">
   <deleteParticipant
         class="org.nuxeo.ide.sdk.features.DeleteFeatureParticipant"
         id="org.nuxeo.ide.sdk.deleteFeatureParticipant"
         name="Synchronizing Extensions">
      <enablement>
      <with variable="affectedNatures">
        <iterate operator="or">
          <equals value="org.nuxeo.ide.NuxeoNature"/>
        </iterate>
      </with>
      <with variable="element">
        <instanceof value="org.eclipse.jdt.core.ICompilationUnit"/>
      </with>
      </enablement>
   </deleteParticipant>
   <deleteParticipant
         class="org.nuxeo.ide.sdk.features.DeleteExtensionParticipant"
         id="org.nuxeo.ide.sdk.deleteExtensionParticipant"
         name="Synchronizing Manifest">
      <enablement>
      <with variable="affectedNatures">
        <iterate operator="or">
          <equals value="org.nuxeo.ide.NuxeoNature"/>
        </iterate>
      </with>
      <with variable="element">
        <instanceof value="org.eclipse.core.resources.IFile"/>
      </with>
      </enablement>
   </deleteParticipant>
    <deleteParticipant
         class="org.nuxeo.ide.sdk.features.DeleteResourceFolderParticipant"
         id="org.nuxeo.ide.sdk.deleteExtensionParticipant"
         name="Synchronizing Manifest">
      <enablement>
      <with variable="affectedNatures">
        <iterate operator="or">
          <equals value="org.nuxeo.ide.NuxeoNature"/>
        </iterate>
      </with>
      <with variable="element">
        <instanceof value="org.eclipse.core.resources.IFolder"/>
      </with>
      </enablement>
   </deleteParticipant>
</extension>
<extension
      point="org.eclipse.ltk.core.refactoring.renameParticipants">
   <renameParticipant
         class="org.nuxeo.ide.sdk.features.RenameFeatureParticipant"
         id="org.nuxeo.ide.sdk.renameFeatureParticipant"
         name="Rename Feature">
         <enablement>
      <with variable="affectedNatures">
        <iterate operator="or">
          <equals value="org.nuxeo.ide.NuxeoNature"/>
        </iterate>
      </with>
      <with variable="element">
        <instanceof value="org.eclipse.jdt.core.ICompilationUnit"/>
      </with>
         </enablement>
   </renameParticipant>
   <renameParticipant
         class="org.nuxeo.ide.sdk.features.RenameExtensionParticipant"
         id="org.nuxeo.ide.sdk.renameExtensionParticipant"
         name="Rename Extension">
         <enablement>
      <with variable="affectedNatures">
        <iterate operator="or">
          <equals value="org.nuxeo.ide.NuxeoNature"/>
        </iterate>
      </with>
      <with variable="element">
        <instanceof value="org.eclipse.core.resources.IFile"/>
      </with>
         </enablement>
   </renameParticipant>
</extension>
<extension
      point="org.eclipse.ltk.core.refactoring.moveParticipants">
   <moveParticipant
         class="org.nuxeo.ide.sdk.features.MoveFeatureParticipant"
         id="org.nuxeo.ide.sdk.moveFeatureParticipant"
         name="Move Feature">
         <enablement>
      <with variable="affectedNatures">
        <iterate operator="or">
          <equals value="org.nuxeo.ide.NuxeoNature"/>
        </iterate>
      </with>
      <with variable="element">
        <instanceof value="org.eclipse.jdt.core.ICompilationUnit"/>
      </with>
         </enablement>
   </moveParticipant>
</extension>
<extension
      point="org.eclipse.ui.perspectives">
   <perspective
         class="org.nuxeo.ide.sdk.ui.NuxeoPerspective"
         fixed="false"
         icon="icons/nx.gif"
         id="org.nuxeo.ide.sdk.ui.NuxeoPerspective"
         name="Nuxeo">
   </perspective>
</extension>
<extension
      point="org.eclipse.ui.perspectiveExtensions">
   <perspectiveExtension
         targetID="org.eclipse.jdt.ui.JavaPerspective">
      <perspectiveShortcut
            id="org.nuxeo.ide.sdk.ui.NuxeoPerspective">
      </perspectiveShortcut>
   </perspectiveExtension>
   <perspectiveExtension
         targetID="org.eclipse.ui.resourcePerspective">
      <perspectiveShortcut
            id="org.nuxeo.ide.sdk.ui.NuxeoPerspective">
      </perspectiveShortcut>         
   </perspectiveExtension>
   <perspectiveExtension
         targetID="org.eclipse.debug.ui.DebugPerspective">
      <perspectiveShortcut
            id="org.nuxeo.ide.sdk.ui.NuxeoPerspective">
      </perspectiveShortcut>         
   </perspectiveExtension>   
</extension>
<extension
      point="org.eclipse.core.contenttype.contentTypes">
   <content-type
         file-extensions="png,gif,jpeg,jpg,data"
         id="org.nuxeo.ide.sdk.binary"
         name="Binary"
         priority="normal">
   </content-type>
</extension>
<extension
      point="org.eclipse.ui.editors">
   <editor
         class="org.nuxeo.ide.sdk.server.ui.ComponentEditor"
         default="false"
         icon="icons/nx.gif"
         id="org.nuxeo.ide.sdk.server.ui.ComponentEditor"
         name="Nuxeo Component">
   </editor>
</extension>
<extension
      point="org.eclipse.debug.core.launchDelegates">
   <launchDelegate
         delegate="org.nuxeo.ide.sdk.ui.launchers.NuxeoJUnitDelegate"
         id="org.nuxeo.ide.sdk.launchDelegate1"
         modes="run,debug"
         name="Nuxeo IDE"
         type="org.eclipse.jdt.junit.launchconfig">
   </launchDelegate>
</extension>

</plugin>
