<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

    <extension 
       point="org.eclipse.ui.preferencePages"> 
      <page 
         id="org.nuxeo.ide.prefs.sdk" 
         name="Nuxeo SDK" 
         class="org.nuxeo.ide.sdk.server.ui.SDKPreferencePage" 
         category="org.nuxeo.ide.prefs"> 
      </page> 
   </extension>

   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.nuxeo.ide.project.newWizards"
            name="Nuxeo">
      </category>
      <wizard
            category="org.nuxeo.ide.project.newWizards"
            class="org.nuxeo.ide.sdk.projects.plugin.PluginProjectWizard"
            icon="icons/nx.gif"
            id="org.nuxeo.ide.templates.PluginProjectWizard"
            name="Nuxeo Plugin"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective,org.eclipse.jdt.ui.JavaBrowsingPerspective,org.eclipse.jdt.ui.JavaHierarchyPerspective"
            project="true">
      </wizard>
      <wizard
            category="org.nuxeo.ide.project.newWizards"
            class="org.nuxeo.ide.sdk.projects.webengine.WebengineProjectWizard"
            icon="icons/nx.gif"
            id="org.nuxeo.ide.templates.WebengineProjectWizard"
            name="WebEngine Application"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective,org.eclipse.jdt.ui.JavaBrowsingPerspective,org.eclipse.jdt.ui.JavaHierarchyPerspective"
            project="true">
      </wizard>
      <wizard
            category="org.nuxeo.ide.project.newWizards"
            class="org.nuxeo.ide.sdk.projects.jaxrs.JAXRSProjectWizard"
            icon="icons/nx.gif"
            id="org.nuxeo.ide.templates.JAXRSProjectWizard"
            name="JAX-RS Application"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective,org.eclipse.jdt.ui.JavaBrowsingPerspective,org.eclipse.jdt.ui.JavaHierarchyPerspective"
            project="true">
      </wizard>

      <category
            id="org.nuxeo.ide.service.newWizards"
            name="Service"
            parentCategory="org.nuxeo.ide.project.newWizards">
      </category>
      
      <wizard
            category="org.nuxeo.ide.project.newWizards/org.nuxeo.ide.service.newWizards"
            class="org.nuxeo.ide.sdk.features.FakeWizard"
            icon="icons/operation.gif"
            id="org.nuxeo.ide.service.ServiceWizard"
            name="Service">
      </wizard>
      <wizard
            category="org.nuxeo.ide.project.newWizards/org.nuxeo.ide.service.newWizards"
            class="org.nuxeo.ide.sdk.features.FakeWizard"
            icon="icons/operation.gif"
            id="org.nuxeo.ide.service.ExtensionPointWizard"
            name="Extension Point">
      </wizard>
      
      <category
            id="org.nuxeo.ide.automation.newWizards"
            name="Automation"
            parentCategory="org.nuxeo.ide.project.newWizards">
      </category>
      
            <wizard
            category="org.nuxeo.ide.project.newWizards/org.nuxeo.ide.automation.newWizards"
            class="org.nuxeo.ide.sdk.features.automation.OperationWizard"
            icon="icons/operation.gif"
            id="org.nuxeo.ide.automation.operationWizard"
            name="Operation">
      </wizard>

      <category
            id="org.nuxeo.ide.webengine.newWizards"
            name="Web Engine"
            parentCategory="org.nuxeo.ide.project.newWizards">
      </category>
      
      <wizard
            category="org.nuxeo.ide.project.newWizards/org.nuxeo.ide.webengine.newWizards"
            class="org.nuxeo.ide.sdk.features.FakeWizard"
            icon="icons/operation.gif"
            id="org.nuxeo.ide.webengine.webRootWizard"
            name="Web Root">
      </wizard>
      <wizard
            category="org.nuxeo.ide.project.newWizards/org.nuxeo.ide.webengine.newWizards"
            class="org.nuxeo.ide.sdk.features.FakeWizard"
            icon="icons/operation.gif"
            id="org.nuxeo.ide.webengine.webObjectWizard"
            name="Web Object">
      </wizard>
      <wizard
            category="org.nuxeo.ide.project.newWizards/org.nuxeo.ide.webengine.newWizards"
            class="org.nuxeo.ide.sdk.features.FakeWizard"
            icon="icons/operation.gif"
            id="org.nuxeo.ide.webengine.webViewWizard"
            name="Web View">
      </wizard>

      <category
            id="org.nuxeo.ide.core.newWizards"
            name="Document Model"
            parentCategory="org.nuxeo.ide.project.newWizards">
      </category>
      
      <wizard
            category="org.nuxeo.ide.project.newWizards/org.nuxeo.ide.core.newWizards"
            class="org.nuxeo.ide.sdk.features.FakeWizard"
            icon="icons/operation.gif"
            id="org.nuxeo.ide.core.listenerWizard"
            name="Document Listener">
      </wizard>
      <wizard
            category="org.nuxeo.ide.project.newWizards/org.nuxeo.ide.core.newWizards"
            class="org.nuxeo.ide.sdk.features.FakeWizard"
            icon="icons/operation.gif"
            id="org.nuxeo.ide.core.adapterWizard"
            name="Document Adapter">
      </wizard>

      <category
            id="org.nuxeo.ide.seam.newWizards"
            name="Seam"
            parentCategory="org.nuxeo.ide.project.newWizards">
      </category>
      
      <wizard
            category="org.nuxeo.ide.project.newWizards/org.nuxeo.ide.seam.newWizards"
            class="org.nuxeo.ide.sdk.features.FakeWizard"
            icon="icons/operation.gif"
            id="org.nuxeo.ide.seam.seamBeanWizard"
            name="Seam Bean">
      </wizard>

      <category
            id="org.nuxeo.ide.gadget.newWizards"
            name="Open Social"
            parentCategory="org.nuxeo.ide.project.newWizards">
      </category>
      
      <wizard
            category="org.nuxeo.ide.project.newWizards/org.nuxeo.ide.gadget.newWizards"
            class="org.nuxeo.ide.sdk.features.FakeWizard"
            icon="icons/operation.gif"
            id="org.nuxeo.ide.Gadget.gadgetWizard"
            name="Gadget">
      </wizard>
      
   </extension>
   <extension
         point="org.eclipse.jdt.core.classpathContainerInitializer">
      <classpathContainerInitializer
            class="org.nuxeo.ide.sdk.ui.SDKClassPathContainerInitializer"
            id="org.nuxeo.ide.SDK_CONTAINER">
      </classpathContainerInitializer>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.classpathContainerPage">
      <classpathContainerPage
            class="org.nuxeo.ide.sdk.ui.SDKClassPathContainerPage"
            id="org.nuxeo.ide.SDK_CONTAINER"
            name="Nuxeo SDK">
      </classpathContainerPage>
   </extension>

   <extension
         id="org.nuxeo.ide.NuxeoNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="org.nuxeo.ide.sdk.ui.NuxeoNature">
         </run>
      </runtime>
      <requires-nature id="org.eclipse.jdt.core.javanature" />
   </extension>

   <extension                                                                                                                                               
         point="org.eclipse.ui.popupMenus"> 
    <objectContribution                                                                                                                                   
            objectClass="org.eclipse.core.resources.IProject"                                                                                               
            adaptable="true"                                                                                                                                
            id="org.nuxeo.ide.pluginProjectToolSet">                                                                                                   
         <menu                                                                                                                                              
               label="Nuxeo"                                                                                                            
               id="org.nuxeo.ide.tools">                                                                                                       
            <separator                                                                                                                                      
               name="group0">                                                                                                                               
            </separator>                                                                                                                                    
         </menu>                                                                                                                                            
         <visibility>                   
                                                                                                                             
                <not>                                                                                                                                       
                <or>                                                                                                                                        
            <objectState                                                                                                                                    
                    name="projectNature"                                                                                                                    
                    value="org.nuxeo.ide.NuxeoNature"/>                                                                                                  
                <objectState                                                                                                                                
                        name="open"                                                                                                                         
                        value="false"/>                                                                                                                     
            </or>                                                                                                                                           
            </not>                                                                                                                                          
         </visibility>                                                                                                                                      
                                                                                                                                                            
         <action
            label="Add Nuxeo Nature"                                                                                                                       
            class="org.nuxeo.ide.sdk.ui.actions.AddNuxeoNature"                                                                         
            menubarPath="org.nuxeo.ide.tools/group0"                                                                                           
            enablesFor="+"                                                                                                                                  
            id="org.nuxeo.ide.tools.addNuxeoNature">                                                                                                 
        </action>                                                                                                                                           
      </objectContribution> 
          <objectContribution                                                                                                                                   
            objectClass="org.eclipse.core.resources.IProject"                                                                                               
            adaptable="true"                                                                                                                                
            id="org.nuxeo.ide.tools.pluginProjectToolSet">                                                                                                   
         <menu                                                                                                                                              
               label="Nuxeo"                                                                                                            
               id="org.nuxeo.ide.tools">                                                                                                       
            <separator                                                                                                                                      
               name="group0">                                                                                                                               
            </separator>                                                                                                                                    
         </menu>                                                                                                                                            
         <visibility>                                                                                                                                       
                <and>                                                                                                                                        
            <objectState                                                                                                                                    
                    name="projectNature"                                                                                                                    
                    value="org.nuxeo.ide.NuxeoNature"/>    
                <objectState                                                                                                                                
                        name="open"                                                                                                                         
                        value="true"/>                                                                                                                     
            </and>                                                                                                                                           
         </visibility>                                                                                                                                      
                                                                                                                                                                                                            
         <action                                                                                                                                            
            label="Remove Nuxeo Nature"                                                                                                                       
            class="org.nuxeo.ide.sdk.ui.actions.RemoveNuxeoNature"                                                                         
            menubarPath="org.nuxeo.ide.tools/group0"                                                                                           
            enablesFor="+"                                                                                                                                  
            id="org.nuxeo.ide.tools.removeNuxeoNature">                                                                                         
        </action>                               
        
        <action
            label="Deploy"                                                                                                                       
            class="org.nuxeo.ide.sdk.server.ui.DeployProject"                                                                         
            menubarPath="org.nuxeo.ide.tools/group1"                                                                                           
            enablesFor="+"                                                                                                                                  
            id="org.nuxeo.ide.tools.deployProject">                                                                                                 
        </action>                                                                                                                                           

      </objectContribution> 
      </extension>
      
    <extension 
       point="org.eclipse.ui.preferencePages"> 
      <page 
         id="org.nuxeo.ide.prefs" 
         name="Nuxeo" 
         class="org.nuxeo.ide.sdk.ui.NuxeoPreferencePage">
      </page> 
   </extension>
      
   <extension point="org.eclipse.ui.propertyPages">
     <page
       class="org.nuxeo.ide.sdk.ui.NuxeoPropertyPage"
       id="org.nuxeo.ide.project.props"
       name="Nuxeo">
         <enabledWhen>                                                                                                                                      
            <adapt                                                                                                                                          
                  type="org.eclipse.core.resources.IProject">                                                                                               
               <test                                                                                                                                        
                     property="org.eclipse.core.resources.projectNature"                                                                                    
                     value="org.nuxeo.ide.NuxeoNature">                                                                                               
               </test>                                                                                                                                      
            </adapt>                                                                                                                                        
         </enabledWhen>
     </page>
   </extension>      

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Nuxeo"
            id="org.nuxeo.ide.views">
      </category>
      <view
            name="Nuxeo Server"
            icon="icons/server.gif"
            category="org.nuxeo.ide.views"
            class="org.nuxeo.ide.sdk.server.ui.ServerView"
            id="org.nuxeo.ide.sdk.ui.server.ServerView">
      </view>
   </extension>

<extension
    point = "org.eclipse.ui.viewActions">
      <viewContribution 
         id="org.nuxeo.ide.sdk.ui.server.toolbar" 
         targetID="org.nuxeo.ide.sdk.ui.server.ServerView">
       <action id="org.nuxeo.ide.sdk.ui.server.openBrowser" 
              label="Clear" 
          menubarPath="additions"
              toolbarPath="additions" 
              icon="icons/browser.gif" 
              tooltip="Open Nuxeo in Web Browser"
              class="org.nuxeo.ide.sdk.server.ui.OpenBrowser">  
       </action>      
       <action id="org.nuxeo.ide.sdk.ui.server.clearAction" 
              label="Clear" 
          menubarPath="console"
              toolbarPath="console" 
              icon="icons/clear.gif" 
              tooltip="Clear the server console"
              class="org.nuxeo.ide.sdk.server.ui.ClearConsole">  
       </action>
       <action id="org.nuxeo.ide.sdk.ui.server.deployAction" 
              label="Auto-Deploy" 
          menubarPath="ctrl"
              toolbarPath="ctrl" 
              icon="icons/deploy.gif" 
              tooltip="Configure auto deployment"
              class="org.nuxeo.ide.sdk.server.ui.AutoDeployConfiguration">  
       </action>             
       <action id="org.nuxeo.ide.sdk.ui.server.stopAction" 
              label="Stop" 
          menubarPath="ctrl"
              toolbarPath="ctrl" 
              icon="icons/stop.gif" 
              tooltip="Stop the server"
              class="org.nuxeo.ide.sdk.server.ui.StopServer">  
       </action>
       <action id="org.nuxeo.ide.sdk.ui.server.startAction" 
              label="Start" 
          menubarPath="ctrl"
              toolbarPath="ctrl" 
              icon="icons/start.gif" 
              tooltip="Start the server"
              class="org.nuxeo.ide.sdk.server.ui.StartServer">  
       </action>       
      </viewContribution>
 </extension>
<extension
      point="org.eclipse.ui.actionSets">
   <actionSet
         id="org.nuxeo.ide.sdk.actionSet"
         label="New Nuxeo Artifact"
         visible="true">
      <menu
            id="nuxeoMenu"
            label="Nuxeo">
         <separator
               name="nxnew">
         </separator>
      </menu>
      <action
            class="org.nuxeo.ide.sdk.ui.actions.NewNuxeoArtifact"
            icon="icons/nx.gif"
            id="org.nuxeo.ide.sdk.ui.actions.NewNuxeoArtifact"
            label="Nuxeo Artifact"
            menubarPath="nuxeoMenu/nxnew"
            toolbarPath="nxnew"
            tooltip="New Nuxeo Artifact Wizard">
      </action>
   </actionSet>
</extension>
 
</plugin>
