<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
           <category
             id="org.nuxeo.ide.newprojects.category"
             name="Nuxeo">
       </category>
       <wizard
             category="org.nuxeo.ide.newprojects.category"
             class="org.nuxeo.ide.archetype.ui.NewProjectWizard"
             icon="icons/nuxeo/16_document.png"
             id="org.nuxeo.ide.archetype.ui.NewProjectWizard"
             name="New Archetype based project"
             project="true">
       </wizard>
   </extension>

</plugin>
